---
title: Shop
subtitle: Your one-stop Valentine Shop!
img: /images/headers/3.jpg
intro: A wide range of Valentine merchandising is available, including beautiful t-shirts and exclusive sweaters. We also have in stock most of the recent releases by Robby - even some on vinyl!
layout: default
categories:
  - music
  - clothing
  - accessories
submenu:
- title: Music
  link: "#music"
- title: Clothing
  link: "#clothing"
- title: Accessories
  link: "#accessories"
---

{% include components/hero.html %}

{% include components/subnavigation.html %}

<div class="stack">
    <div class="wrapper">

        <div class="m-layout u-group">
            <div class="m-layout__row">
                <div class="m-layout__column u-1/1">
                    <div class="m-layout__item">

                        <main>

                            {% for cat in page.categories %}
                            {% assign products = site.shop | where:'format', cat %}

                            <h2 class="section-title" id="{{ cat }}">{{ cat | capitalize }}</h2>

                            <ul class="m-layout m-card-list m-releases-list u-group a-list-bare">
                                {% for product in products %}
                                <li class="m-layout__column u-1/1 u-1/2@m">
                                    <div class="m-layout__item">
                                        {% include components/card-product.html index=index %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}

                        </main>

                    </div>
                </div>
                <!-- <div class="m-layout__column u-1/1 u-1/3@l">

                        <aside>
                            <div class="m-layout__item">
                                <div class="box box--dimmed a-inner a-inner+">
                                    <h3>How to order</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </aside>

                    </div> -->
                </div>
            </div>
        </div>




    </div>
</div>
