---
title: Shop
subtitle: Your one-stop Valentine Shop!
img: /images/headers/3.jpg
header: /images/headers/alliance7.jpg
intro: A wide range of Valentine merchandising is available, including beautiful t-shirts and exclusive sweaters. We also have in stock most of the recent releases by Robby - even some on vinyl!
layout: default
---

<div class="stack">
    <div class="wrapper">

        <div class="m-layout u-group">
            <div class="m-layout__row">
                <div class="m-layout__column u-1/1">
                    <div class="m-layout__item">

                        <main>

                            <h2>Please note</h2>
                            <p>Until May 1st all orders should be done via <a href="https://platenreus.com/?s=valentine&post_type=product&fbclid=IwAR0EXwaIxeOuemVGa7ZC4OHyARaES4oY2JICZXAmL-xhx6v2VWE116CIubs">Platenreus</a>. Any orders placed until that time via the website will not be picked up until May 1st.</p>

                            <ul class="m-layout m-card-list m-releases-list u-group a-list-bare">
                                {% assign products = site.shop | sort: 'year' %}
                                {% for product in products reversed %}
                                <li class="m-layout__column u-1/1 u-1/2@m u-1/3@l">
                                    <div class="m-layout__item">
                                        {% include components/card-product.html index=index %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                        </main>

                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>
