---
layout: default
title: Robby Valentine
subtitle: The official website
isHomepage: true
---


<h2 class="section-title u-screenreader">Highlights</h2>

{% include components/carousel.html %}

{% include components/breadcrumbs.html %}

<div class="stack">
    <div class="wrapper">

        <h2 class="section-title">Latest News</h2>

        <ul class="m-layout u-group a-list-bare m-card-list">
            {% assign posts = site.posts %}
            {% for post in posts limit:6 %}
                <li class="m-layout__column u-1/1 u-1/3@m">
                    <div class="m-layout__item">
                        {% include components/card-news.html %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="u-center">
            <a href="/news/" class="button">Go to news archives</a>
        </div>

    </div>
</div>

<div class="stack stack--darkest">
    <div class="wrapper">

        <h2 class="section-title">Latest Releases</h2>

        <ul class="m-layout u-group a-list-bare">
            {% assign items = site.releases|reverse %}
            {% for release in items limit:4 %}
            <li class="m-layout__column u-1/1 u-1/2@s u-1/4@l">
                <div class="m-layout__item">

                    {% include components/card-release.html %}

                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="u-center">
            <a href="/music/" class="button">View all releases</a>
        </div>

    </div>
</div>