// -----------------------------------------------------------------------------
// Grid definition
// -----------------------------------------------------------------------------

$gutter-small: 3;
$gutter-large: 3;
$gutter-unit: 'em';

$gutter: baseline(2);
$gutter-half: baseline(1);

$grid-small: (
        columns: 4,
        gutters: 0,
        isolate: true
);

$grid-small-debug: (
        columns: 4,
        gutters: 0,
        isolate: true,
        debug: (
                image: show,
                color: rgba(red, .25),
                gutters: 0,
                output: background,
                toggle: top right,
        )
);


$grid-large: (
        columns: 14,
        gutters: 0,
        isolate: true
);

$grid-large-debug: (
        columns: 14,
        gutters: 0,
        isolate: true,
        debug: (
                image: show,
                color: rgba(red, .25),
                gutters: 0,
                output: background,
                toggle: top right,
        )
);
