/*------------------------------------*\
    #TYPOGRAPHIC-SCALE-SETTINGS
\*------------------------------------*/

// Typographic scales which can be used.
//
// When the value is an integer the base-font-size gets multiplied by the power of the value.
// 16 * 1.067, 16 * 1.067 * 1.067 etc.
//
// When the value is a list there is no ratio, it is simply multiplication:
// 16 * 1, 16 * 2, 16 * 3 etc.

$typographic-scales:(
    'minor-second':     1.067,
    'major-second':     1.125,
    'minor-third':      1.2,
    'major-third':      1.25,
    'perfect-fourth':   1.33,
    'augmented-fourth': 1.414,
    'perfect-fifth':    1.5,
    'golden-ratio':     1.618,
    'fibonacci':        (1, 1, 2, 3, 5, 8, 13, 21, 34)
);

// Breakpoints

$typographic-breakpoints:(
    'xs':   (
        'font-size': 14,
        'line-height': 1.5, // 24/20
        'scale': map-get($typographic-scales, 'perfect-fifth')
    ),
    'm': (
        'font-size': 16,
        'line-height': 1.5, // 24/20
        'scale': map-get($typographic-scales, 'perfect-fifth')
    )
);

// These should be ordered smallest to largest. The numbers are extra units of the baseline: line-height / margin-bottom

$typographic-scale-names:(
    'small': (0 1),
    'base': (0 1),
    'lead': (1 1),
    'heading-epsilon': (0 .5),
    'heading-delta': (0 1),
    'heading-gamma': (0 1),
    'heading-beta': (0 1),
    'heading-alpha': (0 1)
);


// These should be ordered smallest to largest

$typographic-scale-sizes:(
    -1,
    0,
    1,
    1,
    1,
    2,
    3,
    4
);
