---
title: Singles
subtitle: Hit-singles, E.P.'s and download-only releases
intro: Over twenty singles have been released since 1991's Over And Over Again. Many of them include bonustracks not available on the regular albums.
layout: default
---

{% include layout/hero.html %}

<div class="wrapper wrapper--pull-top">

    <div class="box box--dimmed box--transparent inner">
        <ul class="grid-list o-list-bare releases-list">
            {% for release in site.singles reversed %}<li>
            <div class="grid-list__item">
                <article class="article {% if forloop.index == 1 %}article--horizontal{% endif %}">
                    <figure class="article__img">
                        <img src="{{ release.img }}" alt="{{ release.title }}" />
                    </figure>
                    <div class="article__body">
                        <p>{{ release.title }}</p>
                    </div>
                </article>
            </div>
        </li>{% endfor %}
        </ul>
    </div>

</div>