<header class="page-header">
    <div class="wrapper">

    <h1 class="logo">
        <a href="/">
            <img src="/static/img/logo.svg" alt="{{ site.title }}" />
        </a>
    </h1>

    {% assign currentPage = page.url | split: '/' %}

    <input type="checkbox" class="menu-toggle" id="menu-input" />
    <label class="menu-link" for="menu-input">
        <span class="menu-icon" aria-hidden="true"></span>
        <span class="u-screenreader">Menu</span>
    </label>

    <nav class="o-page-nav" id="menu">
        <h2 class="u-screenreader">Main navigation</h2>
        <ul class="a-list-bare">
            {% for navItem in site.data.navigation %}
                <li>
                    {% if currentPage[1] == navItem.link %}
                        <span class="o-page-nav__link o-page-nav__link--active">
                            <span>{{ navItem.title }}</span>
                        </span>
                    {% elsif navItem.external == 'true' %}
                        <a target="_blank" href="{{ navItem.link }}" class="o-page-nav__link">
                            <span>{{ navItem.title }}</span>
                        </a>
                    {% else %}
                        <a href="/{{ navItem.link }}/" class="o-page-nav__link">
                            <span>{{ navItem.title }}</span>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    </div>
</header>


