<header class="page-header">
    <div class="wrapper">
    <h1 class="u-screenreader">Robby Valentine</h1>
    <div class="page-nav page-nav--fixed">
        <ul class="a-list-bare">
            <li class="page-nav__logo">
                <a href="/"><span class="u-screenreader">Home</span></a>
            </li>
            <li>
                <a href="/news/"><span>News</span></a>
            </li>
            <li>
                <a href="/music/"><span>Music</span></a>
            </li>
            <li>
                <a href="/live/"><span>Live</span></a>
            </li>
            <li>
                <a href="/about/"><span>About</span></a>
            </li>
            <li>
                <a href="/media/"><span>Media</span></a>
            </li>
            <li>
                <a href="/shop/"><span>Shop</span></a>
            </li>
            <li>
                <a href="/contact/"><span>Contact</span></a>
            </li>
        </ul>
    </div>
    </div>
</header>