---
layout: default
type: article
---

{% assign contentType = 'article' %}

<div class="post">

  <div class="u-group">

      <div class="stack">
        <div class="wrapper">

          <div class="m-layout u-group">
            <div class="m-layout__row">
              <div class="m-layout__column u-1/1 u-2/3@l">
                <div class="m-layout__item">

                  <div class="box a-inner a-inner+">
                    {% if page.img %}
                      <div class="a-img u-ratio u-ratio--16:9" style="background-image:url('{{ page.img }}');">
                          <img src="{{ page.img}}" alt="" />
                      </div>
                    {% endif %}

                      {% if page.lead %}
                        <p class="u-lead">{{ page.lead }}</p>
                      {% endif %}
                      {{ content }}
                    </div>

                </div>

              </div>
              <div class="m-layout__column u-1/1 u-1/3@l m-layout__sidebar">
                <div class="m-layout__item">

                  {% include components/meta.html meta-title="About this article" meta-items=page.meta %}

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

  </div>

</div>
