{% include document/document-open.html %}

  {% include document/document-head.html %}

  <body>
  <header class="page-header">
    <h1 class="u-screenreader">Robby Valentine</h1>
    <div class="page-nav">
      <ul class="o-list-bare">
        <li>
          <a href="/"><span class="u-screenreader">Home</span></a>
        </li>
        <li>
          <a href="/news/"><span>News</span></a>
        </li>
        <li>
          <a href="/music/"><span>Music</span></a>
        </li>
        <li>
          <a href="/live/"><span>Live</span></a>
        </li>
        <li>
          <a href="/about/"><span>About</span></a>
        </li>
        <li>
          <a href="/shop/"><span>Shop</span></a>
        </li>
        <li>
          <a href="/contact/"><span>Contact</span></a>
        </li>
      </ul>
    </div>
  </header>
    <div class="page-content">
          {{ content }}
    </div>

    {% include header.html %}

    {% include footer.html %}

    {% include document/document-scripts.html %}

{% include document/document-close.html %}