---
layout: default
---

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">



  <section>
    <h2>About this gig</h2>
    <dl>
      <dt>Date</dt>
      <dd>{{ page.date }}</dd>
      <dt>Venue</dt>
      <dd>{{ page.venue }}</dd>
      <dt>City</dt>
      <dd>{{ page.city }}</dd>
      <dt>Country</dt>
      <dd>{{ page.country }}</dd>
    </dl>
  </section>

  <section>
    <h2>Information</h2>
    {{ content }}
  </section>

  <section>
    <h2>Setlist</h2>

    <ol>
      {% for track in page.setlist %}
      {% assign songData = null %}

      {% for song in site.songs %}
      {% if song.title == track %}
      {% assign songData = song %}
      {% endif %}
      {% endfor %}

      <li>
        {% assign songTitle = track %}

        {% if track.title %}
        {% assign songTitle = track.title %}
        {% endif %}

        {% if songData %}
        <a href="{{ songData.url }}">{{ songTitle }}</a>
        {% else %}
        {{ songTitle }}
        {% endif %}

        {% if track.subtitle %}
        ({{ track.subtitle }})
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </section>

  <nav>
    <h2>Subnavigation</h2>
    {% for item in site.live %}
    {% if item.date == page.date %}
    {% assign currentIndex = forloop.index0 %}
    {% endif %}
    {% endfor %}

    {% assign current = site.live[currentIndex] %}
    <p>Current: {{ current.date }} </p>

    {% assign nextIndex = currentIndex|plus:1 %}
    {% if nextIndex >= 0 and site.live[nextIndex] %}
    {% assign next = site.live[nextIndex] %}
    <p>Next: <a href="{{ next.url }}">{{ next.date }}</a> </p>
    {% endif %}

    {% assign prevIndex = currentIndex|minus:1 %}
    {% if prevIndex >= 0 and site.live[prevIndex] %}
    {% assign prev = site.live[prevIndex] %}
    <p>Prev: <a href="{{ prev.url }}">{{ prev.date }}</a></p>
    {% endif %}
  </nav>

</div>