---
layout: default
---

{% assign contentType = 'post' %}

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="u-group">
    <main>

      {% include components/hero.html detail=true %}

      {% include prev-next.html items=site.posts %}

      <div class="stack">
        <div class="wrapper">

          <div class="m-layout u-group">
            <div class="m-layout__row">
              <div class="m-layout__column u-1/1 u-2/3@l">
                <div class="m-layout__item">

                    {% if page.img %}
                      <div class="a-img u-ratio u-ratio--16:9" style="background-image:url('{{ page.img }}');">
                          <img src="{{ page.img}}" alt="" />
                      </div>
                    {% endif %}

                    <div class="box a-inner a-inner+">
                      {% if page.lead %}
                        <p class="u-lead">{{ page.lead }}</p>
                      {% endif %}
                      {{ content }}
                    </div>

                </div>

              </div>
              <div class="m-layout__column u-1/1 u-1/3@l">
                <div class="m-layout__item">

                  <div class="box box--dimmed a-inner a-inner+">
                    <h2 class="u-heading-delta">Details</h2>
                    <dl>
                      <dt>Post date</dt>
                      <dd>{{ page.date | date: '%B %-d, %Y' }}</dd>
                      <dt>Author</dt>
                      <dd>Maria Catharina</dd>
                    </dl>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </main>

  </div>

</div>
