---
layout: default
type: post
---

{% assign contentType = 'post' %}

<div class="post">

  <div class="u-group">

      <div class="stack">
        <div class="wrapper">

          <div class="m-layout u-group">
            <div class="m-layout__row">
              <div class="m-layout__column u-1/1 u-2/3@l">
                <div class="m-layout__item">

                  <div class="box a-inner a-inner+">
                    {% if page.img %}
                      <div class="a-img u-ratio u-ratio--{% if page.imgRatio %}{{ page.imgRatio }}{% else %}16:9{% endif %}" style="background-image:url('{{ page.img }}');">
                          <img src="{{ page.img}}" alt="" />
                      </div>
                    {% endif %}

                      {% if page.lead %}
                        <p class="u-lead">{{ page.lead }}</p>
                      {% endif %}
                      {{ content }}
                    </div>

                </div>

              </div>
              <div class="m-layout__column u-1/1 u-1/3@l m-layout__sidebar">
                <div class="m-layout__item">

                  {% assign metaKeys = "" | split:"" %}
                  {% assign metaValues = "" | split:"" %}

                  {% assign metaKeys = metaKeys | push: "Post date" %}
                  {% assign releaseDate = page.date | date: "%B %-d, %Y" %}
                  {% assign metaValues = metaValues | push: releaseDate %}

                  {% include components/meta.html meta-title="About this post" meta-keys=metaKeys meta-values=metaValues %}

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

  </div>

</div>
