---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">



  <div class="wrapper">
    <main>
      <img src="http://www.lorempixel.com/800/600" alt="" />2
      <section class="box inner">
        {{ content }}
      </section>
    </main>
    <aside>
        <div class="box box--inv inner">
          <h2 class="section-title">About this article</h2>
          <dl>
            <dt>Lorem ipsum</dt>
            <dd>Sit amet</dd>
            <dt>Lorem ipsum</dt>
            <dd>Sit amet</dd>
            <dt>Lorem ipsum</dt>
            <dd>Sit amet</dd>
          </dl>
        </div>
    </aside>
  </div>

</article>
