---
layout: default
type: release
---

    {% if page.type == 'single' %}
      {% assign items = site.singles %}
    {% elsif page.type == 'album' %}
      {% assign items = site.albums %}
    {% elsif page.type == 'collaboration' %}
      {% assign items = site.collaborations %}
    {% elsif page.type == 'compilation' %}
      {% assign items = site.compilations %}
    {% endif %}

    <div class="stack">
      <div class="wrapper">

        <div class="m-layout u-group">
          <div class="m-layout__row">

            <div class="m-layout__column u-1/1 u-2/3@m">
              <div class="m-layout__item m-layout__item--wide">

                <div class="box">
                  <div class="a-inner a-inner+">
                    <h2 class="u-screenreader">Artwork</h2>
                    <div class="a-img u-ratio u-ratio--1:1" style="background-image:url({{ page.img }});">
                      <img src="{{ page.img }}" alt="{{ page.title }}" class="u-full-width" />
                    </div>
                    
                      <h2 class="u-heading-gamma u-screenreader">Tracklist</h2>
                      {% for disc in page.discs %}
                        {% include components/tracklist.html %}
                      {% endfor %}
                    </div>                
                </div>

              </div>
            </div>

            <div class="m-layout__column u-1/1 u-1/3@m m-layout__sidebar">
                <div class="m-layout__item m-layout__item--wide">
                <div class="box box--dimmed">
                    <div class="a-inner a-inner+">
                      <h2 class="u-heading-gamma">About this release</h2>
                      <dl>
                        <dt class="u-heading-epsilon">Title</dt>
                        <dd>{{ page.title }}</dd>
                        <dt class="u-heading-epsilon">Released</dt>
                        <dd>{{ page.date | date: '%B %Y' }}</dd>
                      </dl>
                  </div>              
                </div>
                </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    {% assign content = content | strip_newlines %}

    <!--
    {% if page.credits and content != '' %}
      <div class="stack stack--darkest">
      <div class="wrapper">

        <div class="m-layout u-group">
          <div class="m-layout__row">

            <div class="m-layout__column u-1/1 u-2/3@l">


              {% if content %}
                <div class="m-layout__item">
                  <h2 class="u-heading-gamma">About this release</h2>
                  {{ content }}
                </div>
              {% endif %}

            </div>

            <div class="m-layout__column u-1/1 u-1/3@l">

              {% if page.credits %}
              <div class="m-layout__item">
                <div class="box box--dimmed a-inner a-inner+">
                  <h2 class="u-heading-gamma">Credits</h2>
                  <dl>
                    {% for credit in page.credits %}
                    <dt>{{ credit.key }}</dt>
                    <dd>{{ credit.value }}</dd>
                    {% endfor %}
                  </dl>
                </div>
              </div>
              {% endif %}

            </div>

          </div>
        </div>

      </div>
    </div>
    {% endif %} -->