---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting" xmlns="http://www.w3.org/1999/html">

  <main>

    {% include components/hero.html detail=true %}

    <div class="stack">
      <div class="wrapper">

        <div class="m-layout u-group">
          <div class="m-layout__row">

            <div class="m-layout__column u-1/1 u-1/2@l pull-top">

              <div class="m-layout__item">
                <div class="a-card">
                  <div class="a-card__inner">
                    <h2 class="u-screenreader">Artwork</h2>
                    <img src="{{ page.img }}" alt="{{ page.title }}" style="margin-bottom:0;" />
                    <div class="a-inner a-inner+">
                      <h2 class="u-heading-gamma">Information</h2>
                      <dl>
                        <dt>Title</dt>
                        <dd>{{ page.title }}</dd>
                        <dt>Released</dt>
                        <dd>{{ page.date | date: '%B %Y' }}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            </div>

            <div class="m-layout__column u-1/1 u-1/2@l">

              <div class="m-layout__item">

                <div class="box box--dimmed a-inner a-inner+">
                    <h2 class="u-heading-gamma">Tracklist</h2>
                    {% for disc in page.discs %}
                      {% include components/tracklist.html %}
                    {% endfor %}
                </div>

              </div>

              {% if page.credits %}
              <div class="m-layout__item">
                <div class="box box--dimmed a-inner a-inner+">
                  <h2 class="u-heading-gamma">Credits</h2>
                  <dl>
                    {% for credit in page.credits %}
                    <dt>{{ credit.key }}</dt>
                    <dd>{{ credit.value }}</dd>
                    {% endfor %}
                  </dl>
                  </div>
              </div>
              {% endif %}



              {% assign content = content | strip_newlines %}
              {% if content == "nope"  %}
                <div class="m-layout__item">
                  <h2 class="u-heading-gamma">About this release</h2>
                  {{ content }}
                </div>
              {% endif %}


              <!-- <div class="m-layout__item">
              <nav>
                <h2>Subnavigation</h2>
                {% for item in site.albums %}
                {% if item.title == page.title %}
                {% assign currentIndex = forloop.index0 %}
                {% endif %}
                {% endfor %}

                {% if page.type == 'single' %}
                {% assign src = site.singles %}
                {% elsif page.type == 'album' %}
                {% assign src = site.albums %}
                {% elsif page.type == 'collaboration' %}
                {% assign src = site.collaborations %}
                {% endif %}

                {% for item in src %}
                {% if item.title == page.title %}
                {% assign currentIndex = forloop.index0 %}
                {% endif %}
                {% endfor %}

                {% assign current = src[currentIndex] %}
                <p>Current: {{ current.title }} </p>

                {% assign nextIndex = currentIndex|minus:1 %}
                {% if nextIndex >= 0 and src[nextIndex] %}
                {% assign next = src[nextIndex] %}
                <p>Prev: <a href="{{ next.url }}">{{ next.title }}</a></p>
                {% endif %}

                {% assign prevIndex = currentIndex|plus:1 %}
                {% if prevIndex >= 0 and src[prevIndex] %}
                {% assign prev = src[prevIndex] %}
                <p>Next: <a href="{{ prev.url }}">{{ prev.title }}</a></p>
                {% endif %}
              </nav>
                </div> -->

            </div>

          </div>
        </div>

      </div>
    </div>



  </main>

</div>
