.m-tracklist {
  margin-bottom: baseline(2);

  > li {
    padding: baseline(.5);
    padding-left: baseline(2);
    position: relative;

    &::before {
      content: counter(ol);
      font-family: $font-display;
      left: baseline(1);
      position: absolute;
      text-align: center;
      top: baseline(.6); // magic number ftw
      transform: translateX(-50%);
    }

    a {
      border-bottom-width: 0;
      display: block;
      text-decoration: none;
    }

  }

  .m-tracklist__subtitle {
    font-style: italic;
  }

}

.m-tracklist--alt {
  background: white;
  margin: 0 baseline(6) baseline(3);
}
