.submenu a {
  display: block;
  font-family: $font-display;
  margin-bottom: 0;
  padding: baseline(1);
  text-decoration: none;
}




.m-tracklist {
  margin-bottom: baseline(2);

  > li {
    padding-left: 0;
    
    &::before {
      display: none;
    }

    + li {
      margin-top: baseline(.5);
    }

    position: relative;

    a {
      border-bottom-width: 0;
      color: get-color('white');
      display: block;
      text-decoration: none;
    }

  }

  .m-tracklist__title,
  .m-tracklist__subtitle {
    display: inline-block;
    font-family: $font-display;
    margin-bottom: 0;
    padding: baseline(.25) baseline(.5);
  }

  .m-tracklist__title {
    background-color: get-color('black');
    color: get-color('white');
  }

  .m-tracklist__subtitle {
    background-color: get-color('brand');
    color: get-color('black'); 
    margin-left: baseline(.25);
  }

}

.m-tracklist--alt {
  background: white;
  margin: 0 baseline(6) baseline(3);
}

