@import 'events';
@import 'tracklist';
@import 'card-list';

.m-releases-list {

  > li:nth-child(3n+1){
    clear: left;
  }

  @include respond-min('xl'){

    > li:nth-child(3n+1){
      clear: none;
    }

  }

}

.m-products {
  margin-bottom: baseline(2);

  > li {
    margin-bottom: baseline(2);

    &:last-child {
      margin-bottom: 0;
    }

  }

}