@import 'events';
@import 'tracklist';
@import 'card-list';

.m-products {
  margin-bottom: baseline(2);

  > li {
    margin-bottom: baseline(2);

    &:last-child {
      margin-bottom: 0;
    }

  }

}