.carousel {
  margin-top: -27.625%;
}

.carousel-slide {
  background-size: cover;
  overflow: hidden;
  padding-top:56.25%;
  width: 100%;
  position: relative;

  .carousel-slide__cta {
    left: 50%;
    padding: baseline(1);
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .carousel-slide__title {
    color: get-color('white');
    min-width: 8em;
    text-shadow: 0 0 .25em rgba(black, .5);
  }

}

