.logo {
  float: left;
  margin: baseline(1) 0;
  width: baseline(3);

  @include respond-min('m'){
    width: baseline(4);
  }

  img {
    margin-bottom: 0;
  }

  .logo2 {
    display: block;
    padding-top: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 60%;
    }

    &:nth-child(2) {
      background-color: #FFE400;
    }
  }
}