.page-nav {
  background: rgba(black, .85);
  bottom: 0;
  display: block;
  font-family: $font-display;
  left: 0;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  transform: scale(.8);
  text-shadow: 0 .1em .1em rgba(black, .5);
  top: 0;
  transition: all 500ms ease-out;
  z-index: 10000;

  .page-nav__close {
    position: absolute;
    right: baseline(1);
    top: baseline(1);

    &::before {
      content: 'X';
    }
  }

  ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
    width: 100%;
  }

  li {
    display: block;
    padding: 0 baseline(1);
    position: static;
    text-align: center;
  }

  .page-nav__logo {

    a {
      background: url('../img/logo.svg') no-repeat center center;
      height: baseline(6);
      left: 50%;
      text-indent: -999em;
      top: 50%;
      transition: all 250ms ease-out;
      transform: translateX(-50%) translateY(-50%);
      width: baseline(6);
    }

  }

  a {
    @extend %u-heading-gamma;
    border-bottom: none;
    color: white;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    padding: baseline(1) 0;
    position: relative;
    text-decoration: none;

    span {
      position: relative;

      &::after {
        background-color: transparent;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        margin-top: baseline(.25);
        position: absolute;
        top: 100%;
        transition: all 500ms ease-out;
        transform: translateX(-50%);
        width: 0%;
      }
    }

  }

  li:first-child a {
    span::after {
      background-color: #ffe400;
    }
  }

  a:focus,
  a:hover {
    border-bottom: none;

    span::after {
      background-color: #ffe400;
      width: 100%;
    }

  }

}

@include respond-min('m'){

  .page-nav {
    background-color: transparent;
    display: inline-block;
    opacity: 1;
    overflow: hidden;
    pointer-events: inherit;
    position: relative;
    vertical-align: middle;

    > ul {
      position: relative;
      transform: none;

      > li {
        display: inline-block;
        padding-left: 0;
        padding-right: 0;

        + li {
          margin-left: baseline(.5);
        }
      }

    }

    .page-nav__close {
      display: none;
    }

  }

}

@include respond-min('l'){

  .page-nav {

    > ul {

      > li + li {
        margin-left: baseline(1.5);
      }

    }


  }

}