.page-header {
  background: rgba(black, .25);
  height: baseline(3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .logo {
    height: baseline(2);
    left: baseline(.5);
    margin: 0;
    position: absolute;
    top: baseline(.5);
    width: auto;
  }

  .logo img {
    height: baseline(2);
    margin-bottom: 0;
    vertical-align: top;
  }

}

// Menu link

.menu-link {
  background: black;
  height: baseline(2);
  width: baseline(2);
  position: absolute;
  top: baseline(.5);
  right: baseline(.5);
  z-index: 10001;

  .menu-icon {

    &::before,
    &::after {
      background: white;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      margin-top: -2px;
      height: 4px;
      transition: all 250ms ease-out;
      transform: translateX(-50%);
      top: 25%;
      width: 70%;
    }

    &::after {
      box-shadow: 0 -.75em 0 white;
      top: 75%;
    }

  }

}

// Checkbox hack
.menu-toggle {
  height: baseline(2);
  width: baseline(2);
  position: absolute;
  top: baseline(.5);
  right: baseline(.5);


  &:checked + .menu-link .menu-icon {

    &::before,
    &::after {
      top: 50%;
    }

    &::before {
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &::after {
      box-shadow: none;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

  }

  &:checked ~ .o-page-nav {
    display: block;
    opacity: 1;
    pointer-events: inherit;
    transform: scale(1);
  }

}


@include respond-min('m'){

  .page-header {
    position: fixed;
  }

  .menu-toggle {
    display: none;
  }

  .page-header {
    height: auto;
  }

  .page-header .logo {
    display: inline-block;
    float: none;
    margin-right: baseline(1);
    position: relative;
    top: 0;
    vertical-align: middle;
  }

  .page-header .logo,
  .page-header .logo img {
    height: baseline(5);
  }

  .page-header .logo {
    margin-bottom: baseline(-3);
    margin-top: baseline(1);
  }

}


@include respond-min('l'){
    .page-header .logo,
    .page-header .logo img {
      height: baseline(6);
      transition: height 300ms ease-out;
    }

    [data-scroll-offset] .page-header .logo,
    [data-scroll-offset] .page-header .logo img {    
      height: baseline(4);
    }

    [data-scroll-offset="0"] .page-header .logo,
    [data-scroll-offset="0"] .page-header .logo img {
      height: baseline(6);
  }
}

.page-header h1 {

}

.menu-link {
  float: right;

  @include respond-min('m'){
    display: none;
  }
}

.site-header {
  display: none;
}

.site-footer {
  background: black;
  color: white;
  clear: both;
  position: relative;
  text-align: center;
  z-index: 10;

  p {
    margin-left: auto;
    margin-right: auto;
    @include respond-min('m') {
      max-width: 60%;
    }
  }

}