.o-hero {
  background-image: url('/images/headers/header.jpg');
  background-position: 85% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  text-shadow: 0 0 .5em rgba(black, .5);
  transition: background-position 250ms linear;
  width: 100%;

  @include respond-min('s'){
    background-position: 85% 0;
  }

  @include respond-min('m'){
    background-position: top right;
    text-align: left;
  }

  .o-hero__inner {
    padding-bottom: baseline(3);
    padding-top: baseline(6);
    transition: opacity 250ms ease-out;

    @include respond-min('m'){
      padding-bottom: baseline(4);
    }
  }

  // Overlay
  &::before {
    background: linear-gradient(transparent, rgba(black, .5));
    bottom: 0;
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  // Title
  .o-hero__title {
    color: get-color('white');

    @include respond-min('m') {
      max-width: 12em;
    }
  }

  // Subtitle
  .o-hero__subtitle {
    background: get-color('black');
    color: get-color('brand');
    display: inline-block;
    margin-bottom: 0;
    padding: baseline(.5);
  }

}