@import '00-vendor/all';
@import '01-mixins/all';
@import '02-settings/all';
@import '03-base/all';
@import '04-defaults/all';
@import '05-atoms/all';
@import '06-molecules/all';
@import '07-organisms/all';
@import '08-utils/all';
@import '09-trumps/all';

.section-title {
  margin: baseline(2) 0;
}

.flickity-prev-next-button {
  margin: 0;
}

.flickity-page-dots {
  bottom: baseline(1) !important;
  position: absolute;

  > li {
    padding-left: 0;

    &::before {
      display: none;
    }

  }

}

.pagination {
  overflow: hidden;

  .pagination__prev {
    float: left;
  }

  .pagination__next {
    float: right;
  }

}