---
title: Archives
subtitle: Lorem ipsum dolor sit amet
img: /images/headers/2.jpg
layout: default
submenu:
- title: Latest
  link: /news/
- title: Archives
  active: true
  link: /news/archives/
---

{% include components/hero.html %}

{% include components/subnavigation.html %}

<div class="stack">
    <div class="wrapper">

        <main>

            <div class="box a-inner">

            {% for post in site.posts %}

                {% assign currentdate = post.date | date: "%Y" %}

                {% if currentdate != date %}
                    {% unless forloop.first %}
                        </ol>
                    {% endunless %}

                    <h2 class="section-title" id="gigs-{{ current-date }}">{{ currentdate }}</h2>

                    <ol class="a-list-bare a-list-zebra m-events">
                        {% assign date = currentdate %}
                {% endif %}

                {% assign curDate = site.time | date: '%s' %}
                {% assign postDate = post.date | date: '%s' %}

                {% if curDate > postDate %}
                    <li>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </li>
                {% endif %}

                {% if forloop.last %}
                    </ol>
                {% endif %}

            {% endfor %}

                </div>

        </main>

    </div>
</div>