---
title: News
subtitle: What's happening in Bizarro World?
img: /images/headers/2.jpg
layout: default
submenu:
- title: Latest news
  link: /news/
  active: true
---

{% include components/hero.html %}

{% include components/breadcrumbs.html %}

<div class="stack">
    <div class="wrapper">

        <main>

            <h2 class="section-title u-screenreader">Headlines</h2>

            <ol class="a-list-bare m-layout m-card-list u-group">
                {% for post in paginator.posts %}
                <li class="m-layout__column u-1/1 u-1/2@s u-1/3@m">
                    <div class="m-layout__item">
                        {% include components/card-news.html %}
                    </div>
                </li>
                {% endfor %}
            </ol>

            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="button pagination__prev">Previous</a>
                {% endif %}
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="button pagination__next">Next</a>
                {% endif %}
            </div>
            >

        </main>

    </div>
</div>