---
title: News
subtitle: Lorem ipsum dolor sit amet
img: /images/headers/2.jpg
layout: default
submenu:
- title: Latest
  link: /news/
  active: true
- title: Archive
  link: /news/archives/
---

{% include components/hero.html %}

{% include components/subnavigation.html %}

<div class="stack">
    <div class="wrapper">

        <main>

            <h2 class="section-title">Latest headlines</h2>

            <ol class="a-list-bare m-layout m-card-list u-group">
                {% for post in paginator.posts %}
                    <li class="m-layout__column u-1/1 u-1/2@l">
                        <div class="m-layout__item">
                            {% include components/card-news.html %}
                        </div>
                    </li>
                {% endfor %}
            </ol>

        </main>

    </div>
</div>