---
title: News
subtitle: Lorem ipsum dolor sit amet
img: /images/headers/2.jpg
layout: default
---

{% include components/hero.html %}

<div class="stack">
    <div class="wrapper">

        <main>

            <h2 class="section-title">Latest headlines</h2>

            <ol class="a-list-bare m-layout m-card-list u-group">
                {% for post in paginator.posts %}
                    <li class="m-layout__column u-1/1 u-1/2@l u-1/3@xl">
                        <div class="m-layout__item">
                            {% include components/card-news.html %}
                        </div>
                    </li>
                {% endfor %}
            </ol>

            <!-- Pagination links -->
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                {% endif %}
                    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                {% endif %}
            </div>

        </main>

    </div>
</div>