<head>

    <!--[if gt IE 8]><!-->
    <script>document.documentElement.className = 'js';</script>
    <!--<![endif]-->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="author" content="Pim Derks - @pimderks" />
    <meta name="description" content="{{ page.description }}" />

    <link rel="shortcut icon" href="{{ site.path}}_static/assets/img/favicon.ico" />
    <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png" /> -->

    <title>
        {% if page.title %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic" rel="stylesheet" type="text/css">
    <!-- <link href="{{ site.path}}/_static/css/styles.prefixed.css" rel="stylesheet" type="text/css" /> -->

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Muli' rel='stylesheet' type='text/css'>


    <link href='https://fonts.googleapis.com/css?family=Francois+One|Fjalla+One|Roboto+Slab:400,300,100,700|Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/scss/screen.css" />

    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->

</head>