/*------------------------------------*\
    #LIST-ICON
\*------------------------------------*/

/**
* The list-icon object simply removes any indents and bullet points from lists.
*/

.o-list--icon {
  @include list-bare;

  li {

    &::before {
      @include icon();
    }
  }
}

.o-list--check {

  li {
    font-size: baseline(.75);
    padding-bottom: baseline(.35);
    padding-left: baseline(1.1);
    padding-right: baseline(.25);

    &::before {
      content: '\2e';
      margin-right: baseline(.2);
      color: get-color('green');
      margin-left: baseline(-1.1);
    }
  }
}
