/*------------------------------------*\
    #LIST-BARE
\*------------------------------------*/

/**
* The list-bare object simply removes any indents and bullet points from lists.
*/

@mixin list-bare {
    list-style: none;
    margin: 0;
    padding: 0;
}

.o-list-bare,
%list-bare {
    @include list-bare;

    > li {
        &::before {
            display: none;
        }
    }
}
