---
title: Music
subtitle: 25 years of Valentine music
img: /images/headers/2.jpg
intro: Since his solo career started in 1991 Robby has released over a dozen of albums and even more singles. In this section of the website you will learn everything you need to know about these releases!
layout: default
submenu:
- title: Albums
  link: /music/albums/
- title: Singles
  link: /music/singles/
- title: Compilations
  link: /music/compilations/
- title: Collaborations
  link: /music/collaborations/
- title: Songs
  link: /music/songs/
---

{% include components/hero.html %}

{% include components/subnavigation.html %}

<div class="stack">
    <div class="wrapper">

        <h2>Latest releases</h2>

        <ul class="m-layout u-group a-list-bare">
            {% assign items = site.albums|reverse %}
            {% for release in items limit:1 %}
                <li class="m-layout__column u-1/1 u-1/2@m u-1/3@l u-1/4@xl">
                    <div class="m-layout__item">
                        <h3>Albums</h3>

                        {% include components/card-release.html %}

                        <p>
                            <a href="/music/albums/">View all albums</a>
                        </p>
                    </div>
                </li>
            {% endfor %}

            {% assign items = site.singles|reverse %}
            {% for release in items limit:1 %}
            <li class="m-layout__column u-1/1 u-1/2@m u-1/3@l u-1/4@xl">
                <div class="m-layout__item">
                    <h3>Singles</h3>

                    {% include components/card-release.html %}

                    <p>
                        <a href="/music/singles/">View all singles</a>
                    </p>
                </div>
            </li>
            {% endfor %}

            {% assign items = site.compilations|reverse %}
            {% for release in items limit:1 %}
            <li class="m-layout__column u-1/1 u-1/2@m u-1/3@l u-1/4@xl">
                <div class="m-layout__item">
                    <h3>Compilations</h3>

                    {% include components/card-release.html %}

                    <p>
                        <a href="/music/compilations/">View all compilations</a>
                    </p>
                </div>
            </li>
            {% endfor %}

            {% assign items = site.collaborations|reverse %}
            {% for release in items limit:1 %}
            <li class="m-layout__column u-1/1 u-1/2@m u-1/3@l u-1/4@xl">
                <div class="m-layout__item">
                    <h3>Collaborations</h3>

                    {% include components/card-release.html %}
                    <p>
                        <a href="/music/collaborations/">View all collaborations</a>
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>