.logo {
  // display: none;
  background: rgba(black, .99);
  left: 0;
  width: baseline(3.5);
  // position: fixed;
  position: absolute;
  top: 0;

  &:hover {
    background-color: black;
  }

  .logo2 {
    display: block;
    padding-top: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 60%;
    }

    &:nth-child(2) {
      background-color: #FFE400;
    }
  }
}