.page-nav {
  background: linear-gradient(rgba(black, .75), transparent);
  background: rgba(black, .25);
  font-family: 'Open Sans', serif;
  font-weight: bold;
  left: baseline(3.5);
  margin-top: baseline(2);
  position: absolute;
  position: fixed;
  right: baseline(3.5);
  text-shadow: 0 .1em .1em rgba(black, .5);
  transition: all 500ms ease-out;
  top: 0;
  z-index: 10000;

  ul {
    display: flex;
    margin-bottom: 0;
    width: 100%;
  }

  li {
    display: inline-block;
    flex: 1 1 auto;
    padding: 0 baseline(1);
    text-align: center;
  }

  li:nth-child(2) { order: 1; }
  li:nth-child(3) { order: 2; }
  li:nth-child(4) { order: 3; }
  li:nth-child(5) { order: 4; }
  li:nth-child(6) { order: 5; }
  li:nth-child(7) { order: 6; }

  li:first-child {
    order: 4;
    position: relative;

    a {
      background: url('../img/logo.svg') no-repeat center center;
      height: baseline(6);
      margin-top: baseline(-1);
      position: absolute;
      text-indent: -999em;
      width: baseline(6);
    }
  }

  a {
    // background: blue;
    border-bottom-width: 0;
    color: white;
    cursor: pointer;
    display: block;
    padding: baseline(1) 0;
    position: relative;
    text-decoration: none;

    span {
      // background: red;
      display: block;
      padding: 0 0 baseline(.5);
      position: relative;

      &::after {
        background-color: transparent;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
      }

    }



  }

  li:first-child a span {
    &::after {
      background-color: #ffe400;
    }
  }

  a:focus span,
  a:hover span {

    &::after {
      background-color: white;
    }

  }

}