.page-nav {
  background: linear-gradient(rgba(black, .75), transparent);
  background: rgba(black, .25);
  font-family: 'Open Sans', serif;
  font-weight: bold;
  left: baseline(3.5);
  position: absolute;
  top: 80vh;
  right: baseline(3.5);
  text-shadow: 0 .1em .1em rgba(black, .5);
  // transition: all 500ms ease-out;
  z-index: 10000;

  ul {
    display: flex;
    margin-bottom: 0;
    width: 100%;
  }

  li {
    display: inline-block;
    flex: 1 1 auto;
    padding: 0 baseline(1);
    text-align: center;
  }

  li:nth-child(2) { order: 1; }
  li:nth-child(3) { order: 2; }
  li:nth-child(4) { order: 3; }
  li:nth-child(5) { order: 4; }
  li:nth-child(6) { order: 5; }
  li:nth-child(7) { order: 6; }

  .page-nav__logo {
    order: 4;
    position: relative;

    a {
      background: url('../img/logo.svg') no-repeat center center;
      height: baseline(7);
      left: 50%;
      position: absolute;
      text-indent: -999em;
      top: 50%;
      transition: all 250ms ease-out;
      transform: translateX(-50%) translateY(-50%);
      width: baseline(7);
    }

  }

  a {
    border-bottom: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: baseline(1) 0;
    position: relative;
    text-decoration: none;

    span {
      position: relative;

      &::after {
        background-color: transparent;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        margin-top: baseline(.25);
        position: absolute;
        top: 100%;
        transition: all 500ms ease-out;
        transform: translateX(-50%);
        width: 0%;
      }
    }

  }

  li:first-child a {
    span::after {
      background-color: #ffe400;
    }
  }

  a:focus,
  a:hover {
    border-bottom: none;

    span::after {
      background-color: #ffe400;
      width: 100%;
    }

  }

  &.page-nav--fixed {
    background: rgba(black, .5);
    margin-top: baseline(3);
    position: fixed;
    top: 0;
  }

}