.post-header--1 {  background-image: url('../img/background-1.jpg'); }
.post-header--2 {  background-image: url('../img/background-2.jpg'); }
.post-header--3 {  background-image: url('../img/background-3.jpg'); }
.post-header--4 {  background-image: url('../img/background-4.jpg'); }
.post-header--5 {  background-image: url('../img/background-5.jpg'); }

.post-header {
  background-color: black;
  background-image: url('../img/background-3.jpg');
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  padding: baseline(8) baseline(4) baseline(12);
  color: white;
  // opacity: 0;
  // position: fixed;
  overflow: hidden;
  top: 0;
  text-align: center;
  transition: all 500ms ease-out;
  width: 100%;

  .wrapper > * {
    padding-left: grid-unit(1);
    padding-right: grid-unit(1);
  }

  .post-title,
  .post-meta {
    text-shadow: 0 0 .25em rgba(black, .5), 0 0 .5em rgba(black, .75), 1px 1px 0 rgba(black, .75);
    color: white;
    font-family: Trajan, serif;
    // text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0;
    z-index: 1000;

    span {
      display: inline-block;
    }

    &::after {
      display: none;
    }

  }

  .post-meta {
    span {
      color: #FFE400;
      text-shadow: none;
    }
  }
  .post-title {
    margin-bottom: 0;
  }

  .post-meta {
    // background: rgba(#ffe400, .75);
    color: #FFE400;
    clear: left;
    font-size: 1.5em;
    font-weight: normal;
    font-family: Georgia;
    font-style: italic;
  }

  .lead {
    color: rgba(get-color('white'), .75);
    margin: baseline(2) auto 0;
  }

}

.page-content {
  // margin-top: 110vh;
}