button,
.button {
  background: rgba(black, .5);
  border: baseline(.1) solid get-color('white');
  color: get-color('white');
  display: inline-block;
  font-family: $font-display;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: baseline(.75) baseline(1);
  text-decoration: none;
  white-space: nowrap;

  @include attention {
    background: rgba(black, .75);
    color: white;
    text-decoration: none;
  }

}

.button--brand {
  background-color: #FFE400;
  border-color: #FFE400;
  color: black !important;

  @include attention(){
    background-color: black;
    border-color: black;
    color: white !important;
  }

}

.button--inv {
  background-color: black;
  color: white;

  @include attention(){
    background-color: #FFE400;
    border-color: #FFE400;
    color: black;
  }
}

.button--block {
  display: block;
}