/*------------------------------------*\
    #GRID
\*------------------------------------*/

@import '../00-vendor/susy/susy';

// -----------------------------------------------------------------------------
// Grid
// -----------------------------------------------------------------------------

/**
 * Grid
 */

$gutter: baseline(2);
$gutter-half: baseline(1);

.stack {
    padding: baseline(2) 0 0;
}

.stack--brand {
    background: #666;
}

.m-layout {
    margin: 0 #{-$gutter-half};
    padding: 0;

    .m-layout {
        margin-left: 0;
        margin-right: 0;
    }

    .m-layout__row {
        clear: both;
    }

    .m-layout__column {
        float: left;
        width: 100%;
    }

    .m-layout__row--rev .m-layout__column {
        float: right;
    }

    .m-layout__item {
        position: relative;
        margin-bottom: baseline(2);
        padding-left: $gutter-half;
        padding-right: $gutter-half;
        width: 100%;

        @include respond-min('m') {
            padding-left: $gutter-half;
            padding-right: $gutter-half;
        }

        > :last-child {
            margin-bottom: 0;
        }

    }

    .m-layout__item--alt {
        margin-bottom: baseline(2);
    }

    .m-layout__item--wide {
        padding-left: 0;
        padding-right: 0;
    }

}