---
title: Live
subtitle: I believe in music
intro: Valentine performances come in many forms, ranging from intimate solo performances to full-band performances. Below you'll find the upcoming dates, as well as an overview of past gigs.
layout: default
---

{% include layout/hero.html %}

<div class="wrapper wrapper--pull-top">

<div class="box inner">
    <p>Check out the tour schedule below, or take a look at all the gigs from the past.</p>

    <h2 class="section-title">Upcoming gigs</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% assign curDate = site.time | date: '%s' %}
            {% for gig in site.live %}
            {% assign gigDate = gig.date | date: '%s' %}
            {% if gigDate >= curDate %}
            <tr>
                <th data-label="Date" scope="row">
                    {{ gig.date | date: "%Y-%m-%d"}}
                </th>
                <td data-label="Venue">
                    {{ gig.venue }}
                </td>
                <td data-label="City">
                    {{ gig.city }}
                </td>
                <td data-label="Country">
                    {{ gig.country }}
                </td>
                <td data-label="Details">
                    {{ gig.type }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

    <img src="http://lorempixel.com/800/200" alt="" />
    <div class="box inner">

    {% for gig in site.live reversed %}
        {% assign currentdate = gig.date | date: "%Y" %}

        {% if currentdate != date %}
            {% unless forloop.first %}
                </tbody>
                </table>
            {% endunless %}

            <h2 class="section-title">{{ currentdate }}</h2>

            <table>
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Venue</th>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                {% assign date = currentdate %}
        {% endif %}

                {% assign curDate = site.time | date: '%s' %}
                {% assign gigDate = gig.date | date: '%s' %}

                {% if curDate > gigDate %}
                <tr>
                    <th data-label="Date" scope="row">
                        {{ gig.date | date: "%Y-%m-%d"}}
                    </th>
                    <td data-label="Venue">
                        {{ gig.venue }}
                    </td>
                    <td data-label="City">
                        {{ gig.city }}
                    </td>
                    <td data-label="Country">
                        {{ gig.country }}
                    </td>
                    <td data-label="Details">
                        {{ gig.type }}
                    </td>
                </tr>
                {% endif %}

        {% if forloop.last %}
            </tbody>
            </table>
        {% endif %}
    {% endfor %}
    </div>
</div>
