---
title: Live
subtitle: I believe in music
img: /images/headers/5.jpg
intro: Valentine performances come in many forms, ranging from intimate solo performances to full-band performances. Below you'll find the upcoming dates, as well as an overview of past gigs.
layout: default
submenu:
- title: Upcoming
  link: /live/
  active: true
- title: Past
  link: /live/past/
---

{% include components/hero.html detail=true %}

{% include components/subnavigation.html %}

<div class="stack">
    <div class="wrapper">

        <div class="box a-inner">
            <h2 class="section-title">Upcoming gigs</h2>

            <ol class="a-list-bare a-list-zebra m-events">
                {% assign curDate = site.time | date: '%s' %}
                {% for gig in site.live %}
                {% assign gigDate = gig.date | date: '%s' %}
                    {% if gigDate >= curDate %}
                        <li>
                            {% include components/event.html %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>

        </div>

    </div>
</div>