---
title: Past events
subtitle: I believe in music
header: /images/headers/generic/6.jpg
intro: Valentine performances come in many forms, ranging from intimate solo performances to full-band performances. Below you'll find the upcoming dates, as well as an overview of past gigs.
layout: default
submenu:
- title: Upcoming
  link: /live/
- title: Past
  link: /live/past/
  active: true
---

<div class="stack">
    <div class="wrapper">

            {% for gig in site.live reversed %}

                {% assign gigYear = gig.date | date: "%Y" %}
                {% assign gigDate = gig.date | date: "%s" %}
                {% assign curDate = site.time | date: "%s" %}
                {% assign curYear = site.time | date: "%Y" %}

                {% if gigYear != previousYear %}

                    {% unless forloop.first %}
                            </ol>
                    {% endunless %}

                    {% if gigYear <= curYear %}
                        <h2 class="section-title" id="gigs-{{ gigYear }}">{{ gigYear }}</h2>
                        <ol class="a-list-bare a-list-zebra m-events">
                    {% endif %}

                    {% assign previousYear = gigYear %}
                {% endif %}

                {% if curDate > gigDate %}
                    <li>
                        {% include components/event.html %}
                    </li>
                {% endif %}

                {% if forloop.last %}
                    </ol>
                {% endif %}

            {% endfor %}

    </div>
</div>