/*------------------------------------*\
    #MARGINS
\*------------------------------------*/

.u-mb {
    margin-bottom: baseline(1);
}

.u-mb\+ {
    margin-bottom: baseline(2);
}

.u-mb\- {
    margin-bottom: baseline(.75);
}

.u-mb\-\- {
    margin-bottom: baseline(.5);
}

.u-mb\+\+ {
    margin-bottom: baseline(3);
}

.u-mr- {
    margin-right: baseline(.75);
}

.u-mr-- {
    margin-right: baseline(.5);
}

.u-mr\+ {
    margin-right: baseline(1.25);
}

.u-mr\+\+ {
    margin-right: baseline(1.5);
}

.u-ml- {
    margin-left: baseline(.75);
}

.u-ml-- {
    margin-left: baseline(.5);
}

u-ml\+ {
    margin-left: baseline(1.25);
}

.u-ml\+\+ {
    margin-left: baseline(1.5);
}

.u-mt-- {
    margin-top: baseline(.5);
}

.u-mt- {
    margin-top: baseline(.75);
}

.u-mt {
    margin-top: baseline(1);
}

.u-mt\+ {
    margin-top: baseline(2);
}

.u-mt\+\+ {
    margin-top: baseline(3);
}

.u-stacked {
    margin-bottom: 0 !important;
}

.u-glued {
    margin-top: 0 !important;
}