.u-ratio {
  position: relative;

  > * {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.u-ratio--1\:1 {
  padding-top: 100%;
}

.u-ratio--1\:2 {
  padding-top: 50%;
}

.u-ratio--4\:3 {
  padding-top: 75%;
}

.u-ratio--16\:9 {
  padding-top: 56.25%;
}