<header class="site-header">

  <div class="wrapper">

    <h1>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>

  </div>

  <nav>
    <h2>Navigation</h2>
    <ul>
      <li>
        <a href="/news/"><span>News</span></a>
      </li>
      <li>
        <a href="/about/"><span>About</span></a>
      </li>
      <li>
        <a href="/music/"><span>Music</span></a>
      </li>
      <li>
        <a href="/live/"><span>Live</span></a>
      </li>
      <li>
        <a href="/shop/"><span>Shop</span></a>
      </li>
      <li>
        <a href="/contact/"><span>Contact</span></a>
      </li>
    </ul>
  </nav>

</header>
