<header class="site-header">

  <div class="wrapper">

    <h1>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>

  </div>

  <nav>
    <h2>Navigation</h2>
    <ul>
      <li>
        <a href="/news/">News</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="/music/">Music</a>
      </li>
      <li>
        <a href="/live/">Live</a>
      </li>
      <li>
        <a href="/shop/">Shop</a>
      </li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
    </ul>
  </nav>

</header>