{% for item in include.items %}
    {% if item.title == page.title %}
        {% assign currentIndex = forloop.index0 %}
    {% endif %}
{% endfor %}

<div class="box box--brand sub-nav">
    <nav>
        <div class="wrapper">
            <h2 class="u-screenreader">
                Subnavigation
            </h2>
            <ul class="a-list-nav a-list-bare">

                {% assign current = include.items[currentIndex] %}
                {% assign prevIndex = currentIndex|plus:1 %}
                {% assign nextIndex = currentIndex|minus:1 %}

                {% if nextIndex >= 0 and include.items[nextIndex] %}
                {% assign next = include.items[nextIndex] %}
                <li>
                    <a href="{{ next.url }}">{{ next.title }}</a>
                </li>
                {% endif %}

                <li class="sub-nav__current">
                    <a href="{{ current.url }}">{{ current.title }}</a>
                </li>

                {% if prevIndex >= 0 and include.items[prevIndex] %}
                {% assign prev = include.items[prevIndex] %}
                <li>
                    <a href="{{ prev.url }}">{{ prev.title }}</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>

