figure {
  margin-bottom: baseline(1);

  img {
    margin-bottom: baseline(1);
  }

  figcaption {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
  }

}