/*------------------------------------*\
    #TABLES
\*------------------------------------*/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    td,
    th {
        padding: .75rem 0;
        text-align: left;
        vertical-align: top;
    }

    th {
        color: black;
        font-weight: normal;
    }

    thead {
        th {
            font-size: .75rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    tr {
        border-bottom: 1px solid #F0F0F0;
    }

}
