{% assign mod = include.index | modulo: 2 %}

<article class="a-card">
    <div class="a-card__inner">
        <div class="a-card__image">
            <div class="a-img u-ratio u-ratio--1:1 u-stacked" style="background-image:url('{{ product.img }}')">
                <img src="{{ product.img }}" alt="{{ product.title }}" />
            </div>
        </div>
        <div class="a-card__content">
            <div class="a-inner">
                <h2 class="u-heading-gamma a-card__title">{{ product.title }}</h2>
                <p>{{ product.subtitle }}</p>                
            </div>
        </div>
        <div class="a-card__action">
            <div class="a-inner">
            <a class="button button--brand u-heading-delta" href="https://docs.google.com/forms/d/e/1FAIpQLSeO4vvJBQLkFT-CMbZWyA6mLzs16F21VonPagndLaVpHNltIw/viewform?usp=pp_url&entry.678234709={{ product.shopUrl }}">
                    Buy now &euro; {{ product.price }}
                </a>
            </div>
        </div>
    </div>
</article>