<div class="carousel" >
    {% for slide in site.data.carousel %}
        <div class="carousel-slide" style="background-image: url('{{ slide.image }}');">
            <div class="carousel-slide__inner">
                <h3 class="u-heading-alpha carousel-slide__title">
                    <a href="{{ slide.link }}">
                        {{ slide.title }}
                    </a>
                </h3>
                {% if slide.subtitle %}
                    <p class="carousel-slide__subtitle u-heading-delta u-display">{{ slide.subtitle }}</p>
                {% endif %}
                 <a href="{{ slide.link }}" class="u-target">Read more</a>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    var elem = document.querySelector('.carousel');
    var flkty = new Flickity( elem, {
        // options
        cellAlign: 'left',
        contain: true,
        pageDots: false
    });
</script>
