<dl class="a-event">
    <dt class="u-screenreader">Date</dt>
    <dd class="a-event__date">
        <div class="a-date">
            <div class="a-date__day">{{ gig.date | date: "%d"}}</div>
            <div class="a-date__month">
                <abbr title="{{ gig.date | date: '%B' }}">
                    {{ gig.date | date: "%b"}}
                </abbr>
            </div>
            <div class="a-date__year">{{ gig.date | date: "%Y"}}</div>
        </div>
    </dd>

    {% if gig.venue %}
        <dt class="u-screenreader">Venue</dt>
        <dd class="a-event__venue">{{ gig.venue }}</dd>
    {% endif %}

    {% if gig.city %}
        <dt class="u-screenreader">City</dt>
        <dd class="a-event__city">{{ gig.city }}</dd>
    {% endif %}

    {% if gig.country %}
        <dt class="u-screenreader">Country</dt>
        <dd class="a-event__country">{{ gig.country }}</dd>
    {% endif %}

    {% if gig.note %}
        <dt class="u-screenreader">Note</dt>
        <dd class="a-event__note">{{ gig.note }}</dd>
    {% endif %}

    {% assign curDate = site.time | date: '%s' %}
    {% assign gigDate = gig.date | date: '%s' %}

    {% if gigDate >= curDate %}
        {% if gig.link %}
            <dt class="u-screenreader">Link</dt>
            <dd class="a-event__link">
                <a href="{{ gig.link }}" class="button" target="_blank">
                    More info
                </a>
            </dd>
        {% endif %}
    {% else %}
        <!-- link to archive -->
    {% endif %}

</dl>