<header class="o-hero"
        {% if page.header %}
            style="background-image:url('{{ page.header }}')"
        {% endif %}
        >

    <div class="wrapper">

            <h1 class="o-hero__title u-heading-alpha">
                {% if layout.type == 'live' %}
                    {{ page.venue }}
                {% elsif layout.type == 'release' %}
                    {{ page.title }}
                {% elsif layout.type == 'post' %}
                    {{ page.title }}
                {% elsif layout.type == 'page' %}
                    {{ page.title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h1>
            <p class="o-hero__subtitle u-heading-delta u-display">
                {% if page.subtitle %}
                    {{ page.subtitle }}
                {% elsif layout.type == 'live' %}
                    {{ page.date | date: "%B %-d, %Y" }}
                {% elsif layout.type == 'release' %}
                    {{ page.date | date: "%B %Y" }}
                {% elsif layout.type == 'song' %}
                    {{ page.year }}
                {% elsif layout.type == 'post' %}
                    {{ page.date | date: "%B %-d, %Y" }}
                {% endif %}
            </p>

    </div>

</header>