{% if page.submenu %}
<div class="box box--black sub-nav">
    <nav>
        <div class="wrapper">
            <h2 class="u-screenreader">
                Subnavigation
            </h2>
            <ul class="a-list-nav a-list-bare">
                {% for p in page.submenu %}
                    <li{% if p.active %} class="sub-nav__current"{% endif %}>
                        <a href="{{ p.link }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
{% endif %}
