<div class="box box--brand sub-nav">
    <nav>
        <h2 class="u-screenreader">
            Subnavigation
        </h2>
        <ul class="a-list-nav a-list-bare">
            <li class="sub-nav__current">
                <a href="/music/albums/">Albums</a>
            </li>
            <li>
                <a href="/music/singles/">Singles</a>
            </li>
            <li>
                <a href="/music/collaborations/">Collaborations</a>
            </li>
            <li>
                <a href="/music/songs/">Songs</a>
            </li>
        </ul>
    </nav>
</div>