{% if disc.title %}
    <h3 class="u-heading-beta">{{ disc.title }}</h3>
{% endif %}

<ol class="m-item-list">
    {% for track in disc.tracks %}

    {% assign songTitle = track %}

    {% if track.title %}
    {% assign songTitle = track.title %}
    {% endif %}

    {% assign songData = null %}

    {% for song in site.songs %}
    {% if song.title == songTitle %}
    {% assign songData = song %}
    {% endif %}
    {% endfor %}

    <li class="m-item-list__item">

        <div class="m-item-list__title u-heading-delta">
            {% if page.lyrics == true %}
                {% if songData and page.lyrics == true %}
                    <a href="{{ songData.url }}" class="a-tag a-tag--black">
                        {{ songTitle }}
                    </a>
                {% endif %}
            {% else %}
                <span class="a-tag a-tag--black">
                    {{ songTitle }}
                </span>
            {% endif %}
        </div>
        {% if track.subtitle %}
            <div class="m-item-list__subtitle a-tag a-tag--brand u-heading-delta">
                {{ track.subtitle }}
            </div>
        {% endif %}
    </li>
    {% endfor %}
</ol>