---
title: Albums
subtitle: From Robby Valentine to Bizarro World
intro: Since the debut was released on Valentine's Day 1992 there have been over a dozen Valentine albums. The most recent album is 2014's Bizarro World.
layout: default
---

{% include layout/hero.html %}

<div class="wrapper wrapper--pull-top">

    <div class="box box--dimmed inner">
        <ul class="grid-list o-list-bare releases-list">
            {% for release in site.albums reversed | limit: 1 %}<li>
            <div class="grid-list__item">
                <article class="article {% if forloop.index == 1 %}article--horizontal{% endif %}">
                    <a href="{{ release.url }}">
                        <figure class="article__img">
                            <img src="{{ release.img }}" alt="{{ release.title }}" />
                        </figure>
                        <div class="article__body">
                            <p>{{ release.title }}</p>
                        </div>
                    </a>
                </article>
            </div>
        </li>{% endfor %}
        </ul>
    </div>

    <div class="box inner">
        <ul class="grid-list o-list-bare releases-list">
            {% for release in site.albums reversed | offset: 1 %}<li>
            <div class="grid-list__item">
                <article class="article">
                    <a href="{{ release.url }}">
                        <figure class="article__img">
                            <img src="{{ release.img }}" alt="{{ release.title }}" />
                        </figure>
                        <div class="article__body">
                            <p>{{ release.title }}</p>
                        </div>
                    </a>
                </article>
            </div>
        </li>{% endfor %}
        </ul>
    </div>

</div>